:root {
  --color-pozadine: rgba(201, 93, 21, 15%);
  --color-nav-obrub:rgba(201, 93, 21,40%);
  --color-debele-linije: rgb(201, 93, 21);
  --color-main-prozori: rgba(201, 93, 21, 40%);

  --color-debele-linije:rgb(18, 55, 92);
  --color-pozadine: rgba(18, 55, 92, 15%);
  --color-nav-obrub: rgba(18, 55, 92, 40%);
  --color-main-prozori: rgba(18, 55, 92, 40%);
  --color-pozadine:rgb(229, 231, 240);
  background-color: rgba(18, 55, 92, 5%);
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
  max-width: 1200px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Ubuntu, serif;
}

header {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  font-family: Ubuntu, serif;
  text-transform: uppercase;
  background: url("header-background.jpg");
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat; 
}

header>div {
  background: rgba(255, 255, 255, 0.6);
  width: 100%;
  padding: 5% 0;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 3% 0;
  background: white;
  border-bottom: 3.5px solid  var(--color-debele-linije);
  border-top: 3.5px solid  var(--color-debele-linije);
  position: sticky;
  top: 0;
  z-index: 1;
}

.navigation a {
  padding: 1%;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 3vw;
} 

.active-nav-button {
  border: 3px solid var(--color-nav-obrub);
  border-radius: 4px;
  background: var(--color-pozadine);
}


.wrapper-footer {
  padding-top: 5%;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  background: url("happy-customer1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.footer-1,
.footer-2,
.footer-3 {
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-1 {
  grid-column: col-start / -1;
  grid-row: 1;
  margin: 10%;
  margin-bottom: 60%;
}

.footer-2 {
  grid-column: col-start / span 6;
  grid-row: 2;
  margin: 5%;
}

.footer-3 {
  grid-column: col-start 7 / -1;
  grid-row: 2;
  margin: 5%;
}

.footer-2 a,
.footer-3 a {
  text-decoration: none;
  padding: 1vw;
  margin: 1vw;
  border-style: outset;
  border-radius: 8px;
}

.footer-2 a img,
.footer-3 a img{
  height: 7vw;
  width: 7vw;
  display: block;
}

.footer_box {
  border: none;
  padding: 0;
  margin: 0;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer_box h2 {
  padding: 0;
  margin: 0;
}

.footer_box_right,
.footer_box_left {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.footer_box_left {
  justify-content: flex-start;
}

.footer_box_right a,
.footer_box_left a {
  border: 2px solid white;
  color:white;
  font-weight: bold;
}

a.a-action-button {
  display: flex;
  flex-direction: row;
  justify-self: space-between;
  align-items: center;
}





/*home specific*/

.wrapper-index {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  
  background-color: var(--color-pozadine);
}

.video-holder {
  grid-column: col-start / -1;
  grid-row: 1;
  padding: 2% 0;
  background-color: var(--color-pozadine);
}

.iframe-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
} 

.iframe-container iframe, 
.iframe-container object, 
.iframe-container embed { 
  position: absolute; 
  top: 5%; 
  left: 5%; 
  width: 90%; 
  height: 90%; 
}

.content-1, 
.content-2, 
.content-3,
.content-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-1 {
  grid-column: col-start / -1;
  grid-row: 2;
}

.content-2 {
  grid-column: col-start / -1;
  grid-row: 3;
}

.content-3 {
  grid-column: col-start / -1;
  grid-row: 4;
}

.content-4 {
  grid-column: col-start / -1;
  grid-row: 5;
  margin-bottom: 5%;
}

.step3 {
  display: none;
}

.content-4 a.bigger{
  font-size: 1.2em;
  color: var(--color-debele-linije);
  font-weight: bold;
}

.underline_box {
  border: 3px solid var(--color-main-prozori);
  border-bottom: 3.5px solid var(--color-debele-linije);
  margin: 5%;
  padding: 3%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 83%;
  text-align: center;
  border-radius: 8px;
}

.icon {
  width: 30%;
  margin-top: 5%;
}

p {
  text-align: center;
  padding: 0 3%;
}

.naslov {
  text-align: center;
}

span.blue {
  color: var(--color-debele-linije);
  font-weight: bold;
}

span.special {
  color:rgb(0, 0, 0);
  font-size: 35px;
  vertical-align: sub;
}





/* Our ebikes*/

.wrapper-our {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: var(--color-pozadine);
}

.bike-1-content,
.bike-2-content,
.bike-3-content,
.bike-4-content,
.bike-5-content {
  display: flex;
}

.bike-1-content {
  grid-column: col-start / -1;
  grid-row: 1;
}

.bike-2-content {
  grid-column: col-start / -1;
  grid-row: 2;
}

.bike-3-content {
  grid-column: col-start / -1;
  grid-row: 3;
}

.bike-4-content {
  grid-column: col-start / -1;
  grid-row: 4;
}

.bike-5-content {
  grid-column: col-start / -1;
  grid-row: 5;
}

.ourebikes-photo {
  width: 100%;
}





/*gallery*/

.wrapper-gallery {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  text-align: center;
  padding-bottom: 5%;
  background: var(--color-pozadine);
}

.wrapper-gallery h2 {
  padding: 1%;
}

.gallery-content-1 {
  grid-column: col-start / -1;
  grid-row: 1;
}

.gallery-content-2 {
  grid-column: col-start / -1;
  grid-row: 2;
}

.gallery-content-3 {
  grid-column: col-start / -1;
  grid-row: 3;
}

.gallery-content-4 {
  grid-column: col-start / -1;
  grid-row: 4;
}

.carousel {
  margin-bottom: 10%;
}

.carousel-cell {
  margin-right: 10%;
  border-radius: 8px;
  counter-increment: gallery-cell;
  border: 3px solid var(--color-main-prozori);
  border-bottom: 3px solid var(--color-debele-linije);

}
.carousel-cell img {
  width: 64vw;
  height: 48vw;
  display: block;
  border-radius: 4px;
}





/*prices*/

.wrapper-prices {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  padding: 3% 0;
  background-color: var(--color-pozadine);
}

.prices-1-content {
  grid-column: col-start / -1;
  grid-row: 1;
  display: flex;
  justify-content:center;
  
}

.prices-2-content {
  grid-column: col-start / -1;
  grid-row: 2;
  display: flex;
  justify-content:center;
}

.wrapper-prices p {
  text-align: right;
}

.wrapper-prices .underline_box {
  max-width:300px;
}





/*reserve*/

.wrapper-reserve {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  padding-bottom: 3%;
  background-color:white;
}

.wrapper-reserve form {
  grid-column: col-start / -1;
  grid-row: 1;
  font-size: 16px;
}

#status {
  grid-column: col-start / -1;
  grid-row: 2;
  padding: 3%;
  align-self: center;
  justify-self: center;
  text-align: center;
}

.wrapper-reserve .underline_box {
  background: var(--color-pozadine);
}

form label.required:after{
  color: red;
  content: " *";
}

textarea {
  width: 80%;
  border-radius: 8px;
  border: 3px solid var(--color-main-prozori);
  border-bottom: 3.5px solid var(--color-debele-linije);
}

input {
  width: 80%;
  height: 30px;
  border-radius: 4px;
  border: 3px solid var(--color-main-prozori);
  border-bottom: 3.5px solid var(--color-debele-linije);
  text-align: center;
}

button[type="submit"]{
  padding: 2% 4%;
  border-radius: 8px;
  font-weight: bold;
  border: 3px solid var(--color-main-prozori);
  border-bottom: 3.5px solid var(--color-debele-linije);
  cursor: pointer;
  margin-bottom: 3%;
  margin-bottom: 3%;
}

input[type=datetime-local]{
  cursor: pointer;
}

input[type=number]{
  width:20%;
}

input[type=number]::-webkit-inner-spin-button {  
  width: 14px;
  height: 30px;
  display: none;
}

.wrapper-reserve input,
.wrapper-reserve textarea,
.wrapper-reserve button {
  font-size: 14px;
}

#status {
  width: 84%;
  border-radius: 8px;
  margin-bottom: 3%;
}

#status.success {
  background-color: rgb(211, 250, 153);
  color: black;
  animation: status 4s ease forwards;
  border: 3px solid var(--color-main-prozori);
  border-bottom: 3.5px solid var(--color-debele-linije);
}

#status.error {
  background-color:rgb(250, 129, 92);
  color:white;
  animation: status 4s ease forwards;
}

@keyframes status {
  0%{
    opacity: 1;
    pointer-events: all;
  }
  90%{
    opacity: 1;
    pointer-events: all;
  }
  100%{
    opacity: 0;
    pointer-events: none;
  }
}





/*contact */

.avatar {
  width: 90%;
}

.wrapper-contact {
  background-color: var(--color-pozadine);
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
}

.wrapper-contact .underline_box {
  max-width:300px;
}

.general-contact,
.person-1,
.person-2,
.person-3 {
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.general-contact {
  grid-column: col-start / -1;
  grid-row: 1;
  margin-top: 5%;
  padding: 0;
}


.person-1{
  grid-column: col-start / -1;
  grid-row: 2;
  margin-top:5%;
  padding: 0;
}

.person-2{
  grid-column: col-start / -1;
  grid-row: 3;
  margin-top:5%;
  padding: 0;
}

.person-3 {
  grid-column: col-start / -1;
  grid-row: 4;
  margin: 5% 0;
  padding: 0;
}

.person-action-holder a {
  padding: 1vw;
  margin: 1vw;
  border-style: outset;
  border-radius: 8px;
  border: 2px solid grey;
  color: white;
  font-weight: bold;
  background: var(--color-debele-linije);
  text-decoration: none;
}

.a-action-button img {
  height: 7vw;
  width: 7vw;
}

.wrapper-contact .underline_box {
  width:80%;
  padding-bottom:5%;
}





@media only screen and (min-width: 600px) {

/* >600 header nav i footer*/

body {
  font-size: 20px;
}

header {
  font-size: 35px;
}

span.special {
  font-size: 70px;
}

.navigation{
  padding: 10px 0;
  border-bottom: 7px solid  var(--color-debele-linije);
  border-top: 7px solid  var(--color-debele-linije);
}

.navigation a {
  font-size: 18px;
} 

.active-nav-button {
  border: 6px solid var(--color-nav-obrub);
  border-radius: 4px;
}

.footer_box h2{
  font-size: 40px;
}

.footer_box_left a,
.footer_box_right a {
  border: 4px solid white;
}

.footer-2 a img,
.footer-3 a img{
  height: 5vw;
  width: 5vw;
}

/*>600 index */

.underline_box {
  border: 6px solid var(--color-main-prozori);
  border-bottom: 7px solid var(--color-debele-linije);
}

.iframe-container iframe, 
.iframe-container object, 
.iframe-container embed { 
  position: absolute; 
  top: 4.5%; 
  left: 4.5%; 
  width: 91%; 
  height: 91%; 
}

/*>600 reserve*/

.wrapper-reserve form {
  font-size: 20px;
}

.wrapper-reserve input,
.wrapper-reserve textarea,
.wrapper-reserve button  {
  font-size: 18px;
}

input[type=number]::-webkit-inner-spin-button {
  display: inline-block;
  opacity: 1;
}

input[type=number]{
  width:10%;
}

input {
  width: 50%;
}

/*>600 contact*/

.wrapper-contact .underline_box {
  margin: 0;
  font-size: 16px;
  padding-bottom: 20px;
}

.general-contact,
.person-1,
.person-2,
.person-3 {
  margin: 0;
  padding: 0;
  padding-bottom: 10%;
}
.person-1{
  padding-top: 10%;
}

.person-1 {
  grid-column: col-start / span 6;
  grid-row: 1;
  justify-content: flex-end;
}

.person-2 {
  grid-column: col-start 7 / span 6;
  grid-row: 1;
  justify-content: flex-end;
}

.person-3 {
  grid-column: col-start / span 6;
  grid-row: 2;
  justify-content: flex-start;
}

.general-contact {
  grid-column: col-start 7 / span 6;
  grid-row: 2;
  justify-content: flex-start;
}

.wrapper-contact .a-action-button img {
  width: 5vw;
  height: 5vw;
}

.person-action-holder a {
  padding: 5px;
  margin: 5px;
}

/*>600 prices*/

.wrapper-prices{
  padding: 0;
  margin: 0;
}

.wrapper-prices .underline_box {
  margin: 0;
}

.prices-1-content {
  grid-column: col-start / span 6;
  grid-row: 1;
  justify-content: center;
  align-items: flex-start;
  margin:0;
  padding:10% 0;
}

.prices-2-content {
  grid-column: col-start 7 / span 6;
  grid-row: 1;
  justify-content:center;
  align-items:flex-start;
  margin:0;
  padding:10% 0;
}

/*>600 Gallery*/
.carousel-cell {
  border: 6px solid var(--color-main-prozori);
  border-bottom: 7px solid var(--color-debele-linije);
}

}





@media only screen and (min-width: 768px) {

/*>768 header nav i footer*/

header{
  font-size: 50px;
}

.navigation{
  padding: 5px 0;
}

.navigation a {
  font-size: 20px;
}

.footer-1{
  margin-top: 5%;
  margin-bottom: 25%;
}

.wrapper-footer {
  background: url("happy-customer1_resized.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.footer-2 a,
.footer-3 a {
  padding: 0.5vw;
}

.footer-2 a img,
.footer-3 a img{
  height: 4vw;
  width: 4vw;
}

/*>768 index */

.iframe-container iframe, 
.iframe-container object, 
.iframe-container embed { 
  position: absolute; 
  top: 3%; 
  left: 3%; 
  width: 94%; 
  height: 94%; 
}

.step1 {
  display: none;
}

.step3 {
  display: block;
}

.content-1,
.content-2,
.content-3,
.content-4 {
  justify-content: flex-start;
  padding: 9% 0;
  padding-top: 0;
  margin: 0;
} 



.wrapper-index .underline_box {
  padding: 1vw;
  margin: 0;
  max-width: 450px;
}

.content-1 {
  grid-column: col-start / span 6;
  grid-row: 2;
}

.content-4 {
  grid-column: col-start 7 / span 6;
  grid-row: 2;
}

.content-2 {
  grid-column: col-start / span 6;
  grid-row: 3;
}

.content-3 {
  grid-column: col-start 7 / span 6;
  grid-row: 3;
}

/*>768 contact */

.wrapper-contact .underline_box {
  margin: 0;
  font-size: 18px;
}

.wrapper-contact .a-action-button img {
  width: 4vw;
  height: 4vw;
}

.general-contact,
.person-2 {
  padding-right: 10%;
}

.person-1,
.person-3 {
  padding-left: 10%;
}

/*>768 prices */

.prices-1-content {
  padding-left: 10%;
}

.prices-2-content {
  padding-right: 10%;
}




}





@media only screen and (min-width: 992px) {
 
.wrapper-index,
.wrapper-gallery,
.wrapper-our,
.wrapper-prices,
.wrapper-reserve,
.wrapper-contact {
  border:6px solid var(--color-main-prozori);
  border-top: none;
  border-bottom: none;
}

/*>992 header nav i footer*/

header{
  border: 6px solid var(--color-main-prozori);
  border-bottom: none;
}

footer {
  border: 6px solid var(--color-main-prozori);
  border-bottom: none;
}

.navigation{
  border-top:7px solid var(--color-debele-linije);
  border-bottom:7px solid var(--color-debele-linije);
  border-left: 6px solid var(--color-main-prozori);
  border-right: 6px solid var(--color-main-prozori);
}

.footer-2 a img,
.footer-3 a img{
height: 40px;
width: 40px;
}

.footer-2 a,
.footer-3 a {
padding: 0.25vw;
}

/*>992 index*/

.iframe-container iframe, 
.iframe-container object, 
.iframe-container embed { 
  position: absolute; 
  top: 4.5%; 
  left: 4.5%; 
  width: 91%; 
  height: 91%; 
}

.content-3,
.content-2 {
  padding-top: 0;
}

/*>992 our*/

.wrapper-our {
  padding-top: 3%;
}

.wrapper-our .underline_box{
  margin: 0;
}

.bike-1-content,
.bike-2-content,
.bike-3-content,
.bike-4-content,
.bike-5-content {
  justify-content: center;
  align-items: center;
  padding: 5% 0;
  margin: 0;
}

.bike-1-content {
  grid-column: col-start / span 6;
  grid-row: 1;
}

.bike-2-content {
  grid-column: col-start 7 / span 6;
  grid-row: 1;
}

.bike-3-content {
  grid-column: col-start / span 6;
  grid-row: 2;
}

.bike-4-content {
  grid-column: col-start 7 / span 6;
  grid-row: 2;
}

.bike-5-content {
  grid-column: col-start / span 6;
  grid-row: 3;
}

/*>992 gallery*/

.carousel-cell img {
  width: 700px;
  height: 525px;
  display: block;
  border-radius: 4px;
}

/*>992 contact*/

.wrapper-contact .a-action-button img {
  height: 40px;
  width: 40px;
}

.wrapper-contact .underline_box {
  width: 60%;
}

.wrapper-contact .underline_box {
  max-width: 350px;
}

.person-1,
.person-2,
.person-3,
.general-contact{
  padding-top: 20%;
  padding-bottom: 0;
}

.person-3,
.general-contact{
  padding-bottom: 20%;
}

/*>992 prices*/
.wrapper-prices .underline_box {
  width: 60%;
}

.wrapper-prices .underline_box {
  max-width: 350px;
}

.prices-1-content {
  padding-top: 20%;
  padding-bottom: 20%;
}

.prices-2-content {
  padding-top: 20%;
  padding-bottom: 20%;
}

}



